<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title> Song </title>
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 10px;
        background-color: #f4f4f4;
    }

    header {
        color: #fff;
        text-align: center;
    }

    h1 {
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    form {
        padding: 10px;
        border-radius: 5px;
    }

    form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    form input[type="text"],
    form input[type="date"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    </style>
</head>
 
<body>
    <header>
        <%- include('partials/header') %>
    </header>
   
    <h1> Música ID: <% musicID %> </h1>
 
    <br><br>
 
    <table border="2">
       
        <tr>
            <td>ID </td>
            <td>Titulo</td>
            <td>Artista</td>
            <td>Album</td>
            <td>Genero</td>
            <td>Duração (sec)</td>
            <td>Likes</td>
            <td>Data de lançamento</td>
        </tr>
           
            <tr>
 
                <td> <%= query[0].id %> </td>
                <td> <%= query[0].title %> </td>
                <td> <%= query[0].artist %> </td>
                <td> <%= query[0].album %> </td>
                <td> <%= query[0].genre %> </td>
                <td> <%= query[0].duration_seconds %> </td>
                <td> <%= query[0].likes %> </td>
                <td> <%= query[0].release_date %> </td>
 
            </tr>
 
    </table>
 
    <br><br>
 
    <h1> Receitas: </h1>
   
    <p> A música gerou: <%= receita %> </p>
 
    <br>
 
    <p> --------------------------------------------------------------------------------------------------- </p>
 
    <br>
 
    <h1> Editar Música </h1>
 
    <br>
 
    <form id="update_form">
 
        <br><br>
 
        <label for="title"> Título: </label>
        <input type="text" name="title" value="<%= query[0].title %>" required>
 
        <br><br>
 
        <label for="artist"> Artista: </label>
        <input type="text" name="artist" value="<%= query[0].artist %>" required>
 
        <br><br>
 
        <label for="genre"> Género: </label>
        <input type="text" name="genre" value="<%= query[0].genre %>" required>
 
        <br><br>
 
        <label for="album"> Album: </label>
        <input type="text" name="album" value="<%= query[0].album %>" required>
 
        <br><br>
 
        <label for="duration_seconds"> Duração (segundos): </label>
        <input type="text" name="duration_seconds" value="<%= query[0].duration_seconds %>" required>
 
        <br><br>
 
        <label for="release_date"> Data de lançamento: </label>
        <input type="date" name="release_date" value="<%= query[0].release_date %>" required>
 
        <br><br>
 
        <label for="likes"> Likes: </label>
        <input type="text" name="likes" value="<%= query[0].likes %>" required>
 
        <br><br>
 
        <input type="submit" value="Editar">
 
    </form>
 
 
    <h1> Letra da música: </h1>

    <% if (!lyrics) { %>
        <p> Letra não disponível </p>
    <% } else { %>

    <pre> <%=lyrics.lyrics %> </pre>
 
    <% } %>
    <br><br>
 
    <script>
 
        document.getElementById('update_form').addEventListener('submit', function(event) {
            event.preventDefault();
   
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
 
            axios.put(`/api/songs/<%= musicID %>`, data)
            .then(response => {
                console.log('Success:', response.data);
                location.reload();
            })
 
            .catch((error) => {
                console.error('Error:', error);
            });
        });
 
    </script>
 
 
 
</body>
 
</html>